<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smarthomecommondal.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.smarthomecommondal.user.model.UserDO">
        <result column="UserID" jdbcType="INTEGER" property="userID"/>
        <result column="UserName" jdbcType="VARCHAR" property="userName"/>
        <result column="UserPassword" jdbcType="VARCHAR" property="userPassword"/>
        <result column="UserTelephone" jdbcType="VARCHAR" property="userTelephone"/>
        <result column="UserAddress" jdbcType="VARCHAR" property="userAddress"/>
        <result column="UserGender" jdbcType="VARCHAR" property="userGender"/>
        <result column="FamilyID" jdbcType="INTEGER" property="familyID"/>
        <result column="UserRegisterTime" jdbcType="TIMESTAMP" property="userRegisterTime"/>
        <result column="UserDeleteFlag" jdbcType="INTEGER" property="userDeleteFlag"/>
    </resultMap>

    <select id="selectUserByUserName" resultType="com.example.smarthomecommondal.user.model.UserDO">
        SELECT *
        from user
        WHERE UserName = #{userName}
    </select>
    <select id="selectUserById" resultType="com.example.smarthomecommondal.user.model.UserDO">
        SELECT *
        from user
        WHERE UserID = #{userID}
    </select>
    <insert id="register" parameterType="com.example.smarthomecommondal.user.model.UserDO">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            UserName,
            UserPassword,
            UserTelephone,
            UserAddress,
            UserGender,
            FamilyID,
            UserRegisterTime
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{userName},
            #{userPassword},
            #{userTelephone},
            #{userAddress},
            #{userGender},
            #{familyID},
            #{userRegisterTime}
        </trim>
    </insert>
    <update id="update" parameterType="com.example.smarthomecommondal.user.model.UserDO">
        UPDATE user
        <set>
            <if test="userName != null">
                UserName = #{userName},
            </if>
            <if test="userPassword != null">
                UserPassword = #{userPassword},
            </if>
            <if test="userTelephone != null">
                UserTelephone = #{userTelephone},
            </if>
            <if test="userAddress != null">
                UserAddress = #{userAddress},
            </if>
            <if test="userGender != null">
                UserGender = #{userGender},
            </if>
            <if test="familyID != null">
                FamilyID = #{familyID},
            </if>
            <if test="userRegisterTime != null">
                UserRegisterTime = #{userRegisterTime},
            </if>
            <if test="userDeleteFlag != null">
                UserDeleteFlag = #{userDeleteFlag},
            </if>
        </set>
        WHERE UserID = #{userID}
    </update>
</mapper>


